.contact__delete__btn {
    background-color: #fff;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    
  }
  .contact__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #000;
  }
  .contact__delete__btn:hover {
  color:blue;
  }